input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;

  height: 20px;
  width: 20px;
  border-radius: 50%;
  /* background-color: rgb(249, 86, 88); */
  opacity: 0;
  /* cursor: pointer; */
}
