input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}

.slider {
  background-color: red;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  /* background-color: rgb(249, 86, 88); */
  opacity: 0;
  cursor: pointer;
}
